<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">


  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="stylesheet" href="/assets/sass/styles.css">
		{% if page.stylesheets %}
			{% for stylesheet in page.stylesheets %}
		<link rel="stylesheets" href="/assets/sass/{{ stylesheet }}">
			{% endfor %}
		{% endif %}

		{% if page.scripts %}
			{% for script in page.scripts %}
				<script src="/assets/js/{{ script }}"></script>
			{% endfor %}
		{% endif %}

                {% if page.title %}
                  <title>{{page.title}} | Jeremy Sparagon</title>
                {% else %}
                  <title>Jeremy Sparagon</title>
                {% endif %}

	</head>




	<body>
          <header>
            <img id="head-img" src="/assets/images/P1080045-crop.png" />
            <div id="site-name">{{site.title}}</div>
            <div id="site-description">{{site.description}}</div>

            <nav>
		    <a href="/">Home</a>
              {%- assign pages_rev = site.pages | reverse -%}
                {% for page in pages_rev %}
                {% if page.title %}<a href="{{ page.url | relative_url }}">{{ page.title }}</a>{% endif %}
              {% endfor %}
            </nav>

          </header>
          <!-- <nav>
                  <div id="name">{{site.name}}</div>
                  
			{%- assign pages_rev = site.pages | reverse -%}
			{% for page in pages_rev %}
				{% if page.title %}<a href="{{ page.url | relative_url }}">{{ page.title }}</a>{% endif %}
			{% endfor %}
		</nav>
          -->

          {{content}}
		
	</body>
</html>
