
@media screen and (min-aspect-ratio: 1/1) {

	* {
		margin: 0;
		padding: 0;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	@font-face {
		font-family: 'Adobe Caslon Pro';
		src: local('Adobe Caslon Pro'), url(../fonts/ACaslonPro-Semibold.otf);
	}

	body {
		width: 100%;
		background-color: rgb(0,35,0);
		height: 100%;
	/* 	perspective: 1px;
		transform: translateZ(0); */
	}

	#loading {
		width: 100vw;
		height: 100vh;
		background-color: black;
		position: fixed;
		top: 0px;
		z-index: 100;
	}

	@keyframes line-animation {
		0% {opacity: 1;}
		5% {opacity: 1;}
		30% {opacity: 0;}
		40% {opacity: 0}
		60% {opacity: 1}
		100% {opacity: 1;}
	}

	#line-container {
		display: flex;
		align-content: flex-start;
		justify-content: space-between;
		width: 300px;
		margin: auto;
		transform-origin: center 75%;
		/* transform: rotate(23deg) translateY(calc(50% - 175px)); */
	}

	.line {
		width: 10px;
		height: 500px;
		animation-name: line-animation;
		animation-duration: 8s;
		animation-iteration-count: infinite;
	}

	#loading-text {
		text-align: center;
		position: absolute;
		display: flex;
		width: 100vw;
		height: 90vh;
		justify-content: center;
		flex-direction: column;
		top: 0px;
		color: white;
		text-shadow: 3px 3px 3px #000000;
	}

	#loading-title {
		font-family: 'Bell MT', serif;
		font-size: 160px;
	}

	#loading-subtitle {
		font-family: 'Raleway', Calibri, sans-serif;
		font-weight: medium;
		font-size: 40px;
		text-transform: uppercase;
		letter-spacing: .5em;
		animation-name: line-animation;
		animation-delay: 2s;
		animation-iteration-count: infinite;
		animation-duration: 4s;
	}

	.page {
		perspective: 0.3vh;
		/* transform: translateZ(0); */
		overflow-x: hidden;
		overflow-y: auto;
		height: 100vh;
		transform-style: preserve-3d;
		mix-blend-mode: normal;
		background: transparent;
		position: fixed;
		top: 0px;
	}

	.parallax_layer {
	  position: relative;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  height: 100vh;
	  z-index: -1;
	  width: 100%;

	}

	.cover-img {

		width: 100%;
		object-fit: fit;
		z-index: 1;
		max-height: 70vh;
		/* transform: translateZ(0) scale(1);  */
	/* 	top: 0px;
		position: absolute; */
		background-image: url(../images/terseness-files/cover.jpg);
		background-size: 100% cover;


	}

	.title-text-container {

		width:100vw;
		padding-left: auto;
		padding-right: auto;
		left: 30vw;
		color: white;
		flex-direction: column;
		transform: translateZ(-2px) scale(1);
		z-index: 3;
		top: -32vh;
		height: 100vh;
		overflow-y: visible;
		display: flex;
		justify-content: center;

	}

	.title {

		font-family: 'Bell MT', serif;
		font-size: 25vw;
		text-align: right;

	}

	.subtitle {

		font-family: 'Raleway', Calibri, sans-serif;
		font-weight: medium;
		font-size: 4vw;
		text-transform: uppercase;
		text-align: right;
		letter-spacing: .5em;


	}

	.formats_container {
		width: 100%;
		display: flex;
		justify-content: center;
		font-family: 'Raleway', Calibri, sans-serif;
		font-size: 6vw;
		font-style: italic;
		font-weight: 200;
		color: white;
		margin-top: 90vh;
		height: 13.5vh;
		align-items: baseline;
	}

	.formats {
		width: 25%;
		padding-right: 5vw;
		padding-left: 5vw;
		text-align: center;
	}

	.formats a {
		border-bottom: 0.15vw lightgrey solid;
		color: white;
		text-decoration: none;
		margin-bottom: -0.5vw;
		display: inline-block;
		/* height: 92%; */
		overflow: visible;
	}

	#format-arrow {
		width: 45%;
		overflow: visible;
		position: relative;
		top: 7vw;
	}


	.ch1_flex {
		display: flex;
		width: 100%;
		flex-direction: row;
		height: 500vh;
		margin-block-start: 25vh;
		padding-bottom: 50vh;
		flex-wrap: wrap;
		align-content: space-between;
		justify-content: center;
		/* mix-blend-mode: multiply; */
		background: transparent;
	}

	.ch1_img {

		float: left;
		position: relative;
		object-fit: contain;
		flex-basis: 50%;
		width: 50%;
		height: 75vh;
		overflow-x: visible;
		display: block;
		background-size: 100% auto;
		background-size: contain;
		background-position-x: center;
		background-repeat: no-repeat;
		/* mix-blend-mode: inherit; */

	}

	.ch1_img.nola {
		opacity: 1;
		background-image: url(../images/terseness-files/nola.jpg);
	}

	.ch1_img.moved {
		opacity: 1;
		background-image: url(../images/terseness-files/moved.jpg);
		flex-basis: 60%;
		background-size: auto 70%;
		margin-top: 10vh;
	}

	.ch1_img.kira {
		/* background: url("data:image/svg+xml;utf8,<svg width='100vw' height='100vw' viewbox='0 0 100 100' style='position: absolute; top: 0%; z-index: 2; overflow: visible'><polyline fill='none' stroke='rgb(35,0,0)' stroke-width='0.5' stroke-linejoin='round' points='20,27 5,27 5,60 67,60 67,33'/></svg>");
		background-size: auto 100%;
		background-position: center; */
	 /* background-color:  rgb(238,171,161);  */
	 /* background: url(../images/terseness-files/kira.png); */
		object-fit: contain;
		background-blend-mode: multiply;
		perspective: 0vh;
		height: 25%;
		/* mix-blend-mode: multiply; */
	}

	.ch1_img.kira .kira_img {
		object-fit: contain;
		width: 21vw;
		height: 55vw;
		/* mix-blend-mode: multiply; */
		/* perspective: 3vh; */
		z-index: 3;
		background: url(../images/terseness-files/kira.png), rgb(238,171,161);
		background-blend-mode: multiply;
		background-size: auto 55vw;
		background-repeat: no-repeat;
		background-position: center;
		z-index: 5;
		margin-left: 20vw;

	}

	#kira_line {
		width: 100vw;
		height: 100vw;
		/* viewBox: 0 0 100 100; */
		top: 483vh;
		position: absolute;
		z-index: -5;
		overflow: visible;
		/* transform: scale(10) translateX(10vw); */
		transform-origin: left top;
	}

	.ch1_text {

		flex-basis: 50%;
		width: 50%;
		font-family: 'Fira Sans', sans-serif;
		font-style: italic;
		font-size: 3vw;
		font-weight: 400;

	}

	.ch1_text.nola {
		color: white;
	}

	.ch1_text.kira {
		font-weight: 500;
		color: rgb(35,0,0);
		/* margin-top: calc(9vw - 4vh);  */
	}

	.ch1_text.moved {
		color: rgb(152,194,232);
		flex-basis: 30%;
		padding-left: 2vw;
		margin-top: 10vh;
	}

	.justified {
		transform: translateY(8vh) translateX(8vw);
		width: 60%;
		text-justify: inter-word;
		text-align: justify;
	}

	.white_sands {
		width: 100%;
		flex-basis: 75%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.white_sands_bg {
		background: url(../images/terseness-files/white_sands.jpg);
		background-size: contain;
		background-position: center;
		backface-visibility: visible;
		/* background-attachment: fixed; */
		height: 75vh;
		z-index: 1;
		width: 100vw;
		height: 130vh;
		transform: translateZ(-3px) translateY(45%) scale(3);
		/* transform: translateZ(-5px) scale(5); */
		background-repeat: no-repeat;
	}

	.white_sands_text {
		font-family: Cambria, serif;
		font-size: 2vw;
		width: auto;
		color: white;
		font-weight: bold;
		font-style: italic;
		height: 25vh;
		padding-left: 10vw;
		padding-right: 10vw;
		z-index: 2;
	}

	.white_sands_text.first {
		height: 60vh;
		/* margin-top: 50vh; */
		padding-top: 90vh;
		text-align: left;
		background-color: rgb(238,171,161);
		transform: translateY(-25%);
	}

	.white_sands_text.last {
		color: black;
		text-align: right;
		margin-top: 100vh;
	}

	.flowers_flex {
		display: flex;
		width: 100%;
		flex-direction: row;
		height: 100vh;
		padding-bottom: 30vh;
		flex-wrap: wrap;
		align-content: space-between;
		margin-top: 150vh;
		justify-content: space-between;
		align-items: center;
	}

	.flowers_img {
		background-image: url(../images/terseness-files/flowers.png);
		background-size: 100% auto;
		flex-basis: 60%;
		height: 100%;
		background-repeat: no-repeat;
	}

	.flowers_text_container {
		font-family: 'Alegreya Sans', sans-serif;
		font-size: 1.5vw;
		background-color: white;
		flex-basis: 30%;
		margin-right: 5vw;
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		flex-wrap: wrap;
		padding-top: 1vh;
		padding-bottom: 1vh;
	}

	.flowers_artists {
		color: black;
		text-align: right;
		margin-bottom: 1vh;
		flex-basis: 35%;
	}

	.flowers_songs {
		background-color: black;
		color: white;
		text-align: left;
		flex-basis: 55%;
	}

	.flowers_button_container {
		display: flex;
		flex-direction: row;
		height: 5vh;
		justify-content: center;
		margin-top: 4vh;
		margin-bottom: 2vh;
		width: 100%;
	}

	.flowers_button_container .button {
		max-height: 100%;
		max-width: 5vh;
		margin-right: 2vw;
		margin-left: 2vw;
		background: url(../images/terseness-files/ytm.png);
		background-size: 100% auto;
		width: 10%;
		background-repeat: no-repeat;
	}

	.ch3_flex {
		height: 300vh;
		width: 105vw;
		display: flex;
	}

	.ch3_colors {
		width: 105vw;
		height: 100vh;
		z-index: 1;
		overflow: hidden;
		align-self: flex-start;
		position: sticky;
		position: -webkit-sticky;
		display: flex;
		/* flex-basis: 50%; */
		float: left;
		top: 0px;
		flex-wrap: wrap;
		float:left;
	}

	.ch3_colors_a1 {
		/* flex-basis: 67%; */
		width: 33vw;
		height: 80vh;
		background-color: rgb(0,35,0);
		z-index: 2;
	}
	.ch3_colors_a2 {
		/* flex-basis: 33%; */
		width: 67vw;
		height: 80vh;
		background-color: rgb(169,71,36);
		overflow-x: visible;
	}
	.ch3_colors_b1 {
		/* flex-basis: 67%; */
		width: 33vw;
		height: 20vh;
		background-color: rgb(129,77,59);
		z-index: 2;
	}
	.ch3_colors_b2 {
		/* flex-basis: 33%; */
		width: 67vw;
		height: 20vh;
		background-color: rgb(151,162,90);
		overflow-x: visible;
	}

	.ch3_img_container {
		/* flex-basis: 50%; */
		height: 200vh;
		width: 45vw;
		justify-content: space-between;
		flex-direction: column;
		display: flex;
		z-index: 2;
		float: right;
		position: absolute;
		right: 0;
		padding-top: 50vh;
		top: 1625vh;
		left: 55vw;
	}

	.ch3_img {
		width: 45vw;
		height: 80vh;
		flex-basis: 40%;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.ch4_flex {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		height: 250vh;
		width: 100%;
		margin-top: 50vh;

	}

	.ch4_img {
		flex-basis: 30%;
		width: 30%;
		margin-left: 10%;
		margin-right: 10%;
		object-fit: contain;
	}

	.ch5a {
		width: 150%;
		height: 150vh;
		margin-top: 50vh;
		background-image: url(../images/terseness-files/sky.jpg);
		background-size: cover;
		overflow: hidden;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	.ch5a_text {
		font-family: 'Open Sans', sans-serif;
		font-size: 2vh;
		color: white;
		transform: rotate(-90deg) translateY(-40vw) translateX(-15vh);
		transform-origin: center;
		font-weight: bold;
		font-style: italic;
	}

	.ch5b {
		display: flex;
		height: 300vh;
		width: 100%;
		flex-direction: column;
		justify-content: space-around;
		margin-top: -30vh;
	}

	.ch5b_imgs {
		max-width: 100%;
		min-height: 100vh;
		background-size: cover;
		background-repeat: no-repeat;
		top: 0px;
		background-position-y: bottom;
		/* object-fit: contain; */
	}

	.ch5b_imgs.first {
		background-image: url(../images/terseness-files/sunset1.png);
		z-index: 2;
		position: sticky;
		/* position: -webkit-sticky; */
	}

	.ch5b_imgs.second {
		background-image: url(../images/terseness-files/sunset2.png);
		z-index: 1;
		top: 0vh;
		margin-top: 50vh;
		position: sticky;
		position: -webkit-sticky;
	}

	.ch5b_imgs.third {
		background-image: url(../images/terseness-files/loudly.png);
		z-index: 3;
		background-size: 25% auto;
		background-position: 25% 25%;
		padding-left: 20.5%;
		padding-top: 37vh;
		padding-right: 59%;
		font-family: 'Cambria', serif;
		font-weight: bold;
		font-size: 1vw;
		margin-top: -30vh;
		position: sticky;
		position: -webkit-sticky;
	}

	.ch6_container {
		width: 100%;
		height: 125vh;
		display: flex;
		padding-top: 25vh;
		/* position: fixed; */
		/* margin-bottom: 50vh; */
		/* background: url(../images/terseness-files/twenty_line.svg);
		background-size: 100vw auto;
		background-position: 0vw -34vh;
		background-repeat: no-repeat; */
		align-items: flex-start;
	}

	.ch6_img {
		background-image: url(../images/terseness-files/carmen.png);
		background-size: 75% auto;
		background-position: 50% 20%;
		width: 50%;
		height: 100%;
		background-repeat: no-repeat;
		z-index: 5;
	/* 	padding-left: 25%;
		padding-top: 25%; */
		transform: translateZ(+0.5px) scale(0.7) translateY(-175vh) translateX(14vw);
		float: left;
		position: relative;
	}

	.ch6_text {
		font-family: 'Playfair Display', serif;
		font-size: 3.5vw;
		color: white;
		width: 50%;
		flex-basis: 50%;
		padding-top: 25vh;
		letter-spacing: 0.1vw;
		height: 100%;
		z-index: 5;
		overflow: visible;
	}

	.ch6_text .subtext {
		font-size: 2vw;
		text-align: right;
		margin-top: 2vh;
		width: 42%;
		margin-left: 25%;
		letter-spacing: 0;
		color: lightgray;
	}

	.ch7_container {
		width: 100vw;
		height: 350vh;
		display: flex;
		flex-direction: column;
		/*
		margin-top: 50vh;
		flex-wrap: nowrap;
		align-items: flex-start;
		overflow: auto; */
		top: -100vh;
		position: relative;
	}

	.ch7_text_container {
		width: 100%;
		height: 100vh;
		align-self: flex-start;
		position: sticky;
		position: -webkit-sticky;
		top: 0px;
		display: flex;
		justify-content: space-around;
		overflow: hidden;
	}

	.ch7_text {
		font-family: 'Cambria', serif;
		font-style: italic;
		font-weight: bold;
		font-size: 1.25vw;
		line-height: 2vw;
		color: black;
		background-color: white;
		border: 0.2vw black solid;
		width: 25vw;
		height: 100vh;
		padding: 2vw;
		/* position: sticky; */
	/* 	flex-basis: 25%;
		align-self: flex-start;
		position: sticky;
		visibility: hidden; */
		/* position: fixed; */
	}

	.ch7_text .unbolded {
		font-weight: normal;
		font-style: italic;
	}

	.ch7_text .korean{
		font-family: 'Gulim', 'Cambria', serif;
		font-weight: bold;
		font-style: normal;
	}

	.ch7_text .citation {
		font-family: 'Calibri', sans-serif;
		font-weight: 300;
		text-align: right;
		font-style: normal;
	}

	.ch7_text.left {
		text-align: left;
		/* transform: translateY(100vh); */
		/* bottom: 101%; */
		/* margin-top: 105vh; */
		margin-top: 125vh;
		/* left: 12.5%; */
	}

	.ch7_text.right {
		text-align: right;
		/* transform: translateY(175%); */
		/* top: 101%; */
		/* margin-top: 50vh; */
		margin-top: -125vh;
		/* right: 12.5%; */
		/* transform: translateY(-150vh); */
		display: flex;
		align-items: flex-end;
		font-size: 1.25vw;
		line-height: 1.75vw;
		/* position: fixed; */
	}

	.ch8_flex {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		height: 250vh;
		width: 100%;
		margin-top: -100vh;
		padding-top: 50vh;

	}

	.ch8_content {
		font-family: 'Adobe Caslon Pro', 'Cambria', serif;
		font-size: 1.3vw;
		color: white;
		overflow: visible;
		height: 85vh;
		/* margin-left: 9%;
		margin-right: 9%; */
		/* font-weight: 600; */
		width: 35vw;
		flex-basis: 35%;
		letter-spacing: 0.08vw;
	}

	.ch8_content.first {
		background-image: url(../images/terseness-files/books50c.jpg);
		background-position: 20vw 20vw;
		background-size: 14vw auto;
		background-repeat: no-repeat;
	}

	.ch8_content.first .title {
		font-size: 6vw;
		line-height: 7vw;
		font-family: 'Bell MT', 'Playfair Display', serif;
		font-weight: bold;
		top: 0;
		left: 0;
		text-align: left;
		width: 100%;
		color: rgb(233,201,197);
		text-shadow: 0.3vw 0.3vw rgb(32,86,154);
		z-index: 3;
		mix-blend-mode: normal;
	}

	.ch8_content.first .number {
		font-family: 'Josefin Sans', 'Calibri', sans-serif;
		font-size: 30vw;
		font-weight: bold;
		mix-blend-mode: screen;
		color: rgb(37,64,143);
		/* position: fixed; */
		top: 0;
		left: 0;
		width: 100%;
		height: 50%;
		margin-top: -24vw;
		margin-left: 8vw;
		z-index: 1;

	}

	.ch8_content.second {
		background: url(../images/terseness-files/taraval_window.png);
		background-size: 26vw auto;
		background-position: 50% 6.5vw;
		background-repeat: no-repeat;
	}

	.ch8_content.third {
		background: url(../images/terseness-files/fort_mason.jpg);
		background-size: auto 91%;
		background-position: top left;
		background-repeat: no-repeat;
		padding-left: 0;
	}

	.ch8_content.fourth {
		background: url(../images/terseness-files/conservatory_of_flowers.png), transparent;
		background-size: 90% auto;
		background-position: bottom right;
		background-repeat: no-repeat;
		position: relative;
	}

	.ch8_content.fourth::before {
		content: " ";
		background: url(../images/terseness-files/bodie.jpg);
		background-size: 55% auto;
		background-position: top left;
		background-repeat: no-repeat;
		position: absolute;
		left: -25%;
		top: -5%;
		width: 100%;
		height: 100%;
	}

}



/* MOBILE STYLES */



@media screen and (max-aspect-ratio: 1/1) {

	* {
		margin: 0;
		padding: 0;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	@font-face {
		font-family: 'Adobe Caslon Pro';
		src: url(./ACaslonPro-Semibold.otf);
	}

	body {
		width: 100%;
		background-color: rgb(0,35,0);
		height: 100%;
	/* 	perspective: 1px;
		transform: translateZ(0); */
	}

	.page {
		perspective: 0.3vh;
		/* transform: translateZ(0); */
		overflow-x: hidden;
		overflow-y: auto;
		height: 100vh;
		transform-style: preserve-3d;
		mix-blend-mode: normal;
		background: transparent;
	}

	.parallax_layer {
	  position: relative;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  height: 100vh;
	  z-index: -1;
	  width: 100%;

	}

	.cover-img {

		width: 100%;
		/* object-fit: cover; */
		z-index: 1;
		max-height: 70vh;
		/* transform: translateZ(0) scale(1);  */
	/* 	top: 0px;
		position: absolute; */
		background-image: url(../images/terseness-files/cover_vertical.jpg);
		background-size: 110%;
		background-repeat: no-repeat;


	}

	.title-text-container {

		width:200vw;
		padding-left: auto;
		padding-right: auto;
		left: -55vw;
		color: white;
		flex-direction: column;
		transform: translateZ(-2px) scale(1);
		z-index: 3;
		top: 0vh;
		height: 30vh;
		overflow-y: visible;
		overflow-x: visible;
		word-break: keep-all;

	}

	.title {

		font-family: 'Bell MT', serif;
		font-size: 48vw;
		text-align: right;

	}

	.subtitle {

		font-family: 'Raleway', Calibri, sans-serif;
		font-weight: medium;
		font-size: 9vw;
		text-transform: uppercase;
		text-align: right;
		letter-spacing: .5em;
		word-break: keep-all;

	}

	.formats_container {
		width: 100%;
		display: flex;
		justify-content: center;
		font-family: 'Raleway', Calibri, sans-serif;
		font-size: 10vw;
		font-style: italic;
		font-weight: 200;
		color: white;
		margin-top: 90vh;
		height: 13.5vh;
		align-items: baseline;
	}

	.formats {
		width: 40%;
		padding-right: 3vw;
		padding-left: 3vw;
		text-align: center;
	}

	.formats a {
		border-bottom: 0.15vw lightgrey solid;
		color: white;
		text-decoration: none;
		margin-bottom: -0.5vw;
		display: inline-block;
		/* height: 92%; */
		overflow: visible;
	}

	#format-arrow {
		width: 45%;
		overflow: visible;
		position: relative;
		top: 12vw;
	}


	.ch1_flex {
		display: flex;
		width: 100%;
		flex-direction: row;
		height: 450vh;
		margin-block-start: 25vh;
		padding-bottom: 50vh;
		flex-wrap: wrap;
		align-content: space-between;
		justify-content: center;
		/* mix-blend-mode: multiply; */
		background: transparent;
	}

	.ch1_img {

		float: left;
		position: relative;
		object-fit: contain;
		flex-basis: 80%;
		width: 50%;
		height: 60vh;
		overflow-x: visible;
		display: block;
		/* background-size: 100% auto; */
		background-size: contain;
		background-position-x: center;
		background-repeat: no-repeat;
		/* mix-blend-mode: inherit; */

	}

	.ch1_img.nola {
		opacity: 1;
		background-image: url(../images/terseness-files/nola.jpg);
	}

	.ch1_img.moved {
		opacity: 1;
		background-image: url(../images/terseness-files/moved.jpg);
		flex-basis: 90%;
		background-size: 100%;
		margin-top: 10vh;
		height: 30vh;
	}

	.ch1_img.kira {
		/* background: url("data:image/svg+xml;utf8,<svg width='100vw' height='100vw' viewbox='0 0 100 100' style='position: absolute; top: 0%; z-index: 2; overflow: visible'><polyline fill='none' stroke='rgb(35,0,0)' stroke-width='0.5' stroke-linejoin='round' points='20,27 5,27 5,60 67,60 67,33'/></svg>");
		background-size: auto 100%;
		background-position: center; */
	 /* background-color:  rgb(238,171,161);  */
	 /* background: url(../images/terseness-files/kira.png); */
		object-fit: contain;
		background-blend-mode: multiply;
		perspective: 0vh;
		height: 25%;
		/* mix-blend-mode: multiply; */
	}

	.ch1_img.kira .kira_img {
		object-fit: contain;
		width: 85vw;
		height: 80vh;
		/* mix-blend-mode: multiply; */
		/* perspective: 3vh; */
		z-index: 3;
		background: url(../images/terseness-files/kira.png), rgb(238,171,161);
		background-blend-mode: multiply;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		z-index: 5;

	}

	#kira_line {
		width: 100vw;
		height: 100vw;
		/* viewBox: 0 0 100 100; */
		top: 480.5vh;
		position: absolute;
		z-index: -5;
		overflow: visible;
		transform: scale(10.0) translateX(43vw) translateY(20vh);
	}

	.ch1_text {

		flex-basis: 80%;
		width: 50%;
		font-family: 'Fira Sans', sans-serif;
		font-style: italic;
		font-size: 8vw;
		font-weight: 400;

	}

	.ch1_text.nola {
		color: white;
		margin-bottom: 50vh;
	}

	.ch1_text.kira {
		font-weight: 500;
		color: rgb(35,0,0);
	}

	.ch1_text.moved {
		color: rgb(152,194,232);
		flex-basis: 30%;
		padding-left: 2vw;
		margin-top: 10vh;
	}

	.justified {
		transform: translateY(-8vh);
		width: 60%;
		text-justify: inter-word;
		text-align: justify;
	}

	.justified.moved {
		transform: translateY(-18vh);
	}

	.justified.kira {
		transform: translateY(-30vh);
	}

	.white_sands {
		width: 100%;
		flex-basis: 75%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.white_sands_bg {
		background: url(../images/terseness-files/white_sands.jpg);
		background-size: contain;
		background-position: center;
		backface-visibility: visible;
		/* background-attachment: fixed; */
		height: 75vh;
		z-index: 1;
		width: 100vw;
		height: 130vh;
		transform: translateZ(-3px) translateY(45%) scale(3);
		/* transform: translateZ(-5px) scale(5); */
		background-repeat: no-repeat;
	}

	.white_sands_text {
		font-family: Cambria, serif;
		font-size: 2vw;
		width: auto;
		color: white;
		font-weight: bold;
		font-style: italic;
		height: 25vh;
		padding-left: 10vw;
		padding-right: 10vw;
		z-index: 2;
	}

	.white_sands_text.first {
		height: 60vh;
		/* margin-top: 50vh; */
		padding-top: 90vh;
		text-align: left;
		background-color: rgb(238,171,161);
		transform: translateY(-25%);
	}

	.white_sands_text.last {
		color: black;
		text-align: right;
		margin-top: 100vh;
	}

	.flowers_flex {
		display: flex;
		width: 100%;
		flex-direction: row;
		height: 100vh;
		padding-bottom: 75vh;
		flex-wrap: wrap;
		align-content: space-between;
		margin-top: 100vh;
		justify-content: space-between;
		align-items: center;
	}

	.flowers_img {
		background-image: url(../images/terseness-files/flowers_vertical.png);
		background-size: 100% auto;
		flex-basis: 100%;
		height: 80%;
		background-repeat: no-repeat;
	}

	.flowers_text_container {
		font-family: 'Alegreya Sans', sans-serif;
		font-size: 3vh;
		background-color: white;
		flex-basis: 100%;
		margin-right: 2.5vw;
		margin-left: 2.5vw;
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		flex-wrap: wrap;
		padding-top: 1vh;
		padding-bottom: 1vh;
	}

	.flowers_artists {
		color: black;
		text-align: right;
		margin-bottom: 1vh;
		flex-basis: 35%;
	}

	.flowers_songs {
		background-color: black;
		color: white;
		text-align: left;
		flex-basis: 55%;
	}

	.flowers_button_container {
		display: flex;
		flex-direction: row;
		height: 15vw;
		justify-content: center;
		margin-top: 4vh;
		margin-bottom: 2vh;
		width: 100%;
	}

	.flowers_button_container .button {
		max-height: 100%;
		max-width: 25vw;
		margin-right: 5vw;
		margin-left: 5vw;
		background: url(../images/terseness-files/ytm.png);
		background-size: 100% auto;
		width: 15vw;
		background-repeat: no-repeat;
	}

	.ch3_flex {
		height: 300vh;
		width: 105vw;
		display: flex;
	}

	.ch3_colors {
		width: 105vw;
		height: 100vh;
		z-index: 1;
		overflow: hidden;
		align-self: flex-start;
		position: sticky;
		position: -webkit-sticky;
		display: flex;
		/* flex-basis: 50%; */
		float: left;
		top: 0px;
		flex-wrap: wrap;
		float:left;
	}

	.ch3_colors_a1 {
		/* flex-basis: 67%; */
		width: 33vw;
		height: 80vh;
		background-color: rgb(0,35,0);
		z-index: 2;
	}
	.ch3_colors_a2 {
		/* flex-basis: 33%; */
		width: 67vw;
		height: 80vh;
		background-color: rgb(169,71,36);
		overflow-x: visible;
	}
	.ch3_colors_b1 {
		/* flex-basis: 67%; */
		width: 33vw;
		height: 20vh;
		background-color: rgb(129,77,59);
		z-index: 2;
	}
	.ch3_colors_b2 {
		/* flex-basis: 33%; */
		width: 67vw;
		height: 20vh;
		background-color: rgb(151,162,90);
		overflow-x: visible;
	}

	.ch3_img_container {
		/* flex-basis: 50%; */
		height: 200vh;
		width: 45vw;
		justify-content: space-between;
		flex-direction: column;
		display: flex;
		z-index: 2;
		float: right;
		position: absolute;
		right: 0;
		padding-top: 50vh;
		top: 1550vh;
		left: 55vw;
	}

	.ch3_img {
		width: 45vw;
		height: 80vh;
		flex-basis: 40%;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.ch4_flex {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		height: 250vh;
		width: 100%;
		margin-top: 50vh;

	}

	.ch4_img {
		flex-basis: 30%;
		width: 30%;
		margin-left: 10%;
		margin-right: 10%;
		object-fit: contain;
	}

	.ch5a {
		width: 150%;
		height: 150vh;
		margin-top: 50vh;
		background-image: url(../images/terseness-files/sky.jpg);
		background-size: cover;
		overflow: hidden;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	.ch5a_text {
		font-family: 'Open Sans', sans-serif;
		font-size: 2vh;
		color: white;
		transform: rotate(-90deg) translateY(-40vw) translateX(-15vh);
		transform-origin: center;
		font-weight: bold;
		font-style: italic;
	}

	.ch5b {
		display: flex;
		height: 300vh;
		width: 100%;
		flex-direction: column;
		justify-content: space-around;
		margin-top: -30vh;
	}

	.ch5b_imgs {
		max-width: 100%;
		min-height: 100vh;
		background-size: cover;
		background-repeat: no-repeat;
		top: 0px;
		background-position-y: bottom;
		/* object-fit: contain; */
	}

	.ch5b_imgs.first {
		background-image: url(../images/terseness-files/sunset1.png);
		z-index: 2;
		position: sticky;
		/* position: -webkit-sticky; */
	}

	.ch5b_imgs.second {
		background-image: url(../images/terseness-files/sunset2.png);
		z-index: 1;
		top: 0vh;
		margin-top: 50vh;
		position: sticky;
		position: -webkit-sticky;
	}

	.ch5b_imgs.third {
		background-image: url(../images/terseness-files/loudly.png);
		z-index: 3;
		background-size: 25% auto;
		background-position: 25% 25%;
		padding-left: 20.5%;
		padding-top: 37vh;
		padding-right: 59%;
		font-family: 'Cambria', serif;
		font-weight: bold;
		font-size: 1vw;
		margin-top: -30vh;
		position: sticky;
		position: -webkit-sticky;
	}

	.ch6_container {
		width: 100%;
		height: 125vh;
		display: flex;
		padding-top: 25vh;
		/* position: fixed; */
		/* margin-bottom: 50vh; */
		/* background: url(../images/terseness-files/twenty_line.svg);
		background-size: 100vw auto;
		background-position: 0vw -34vh;
		background-repeat: no-repeat; */
		align-items: flex-start;
	}

	.ch6_img {
		background-image: url(../images/terseness-files/carmen.png);
		background-size: 75% auto;
		background-position: 50% 20%;
		width: 50%;
		height: 100%;
		background-repeat: no-repeat;
		z-index: 5;
	/* 	padding-left: 25%;
		padding-top: 25%; */
		transform: translateZ(+0.5px) scale(0.7) translateY(-175vh) translateX(14vw);
		float: left;
		position: relative;
	}

	.ch6_text {
		font-family: 'Playfair Display', serif;
		font-size: 3.5vw;
		color: white;
		width: 50%;
		flex-basis: 50%;
		padding-top: 25vh;
		letter-spacing: 0.1vw;
		height: 100%;
		z-index: 5;
		overflow: visible;
	}

	.ch6_text .subtext {
		font-size: 2vw;
		text-align: right;
		margin-top: 2vh;
		width: 42%;
		margin-left: 25%;
		letter-spacing: 0;
		color: lightgray;
	}

	.ch7_container {
		width: 100vw;
		height: 350vh;
		display: flex;
		flex-direction: column;
		/*
		margin-top: 50vh;
		flex-wrap: nowrap;
		align-items: flex-start;
		overflow: auto; */
		top: -100vh;
		position: relative;
	}

	.ch7_text_container {
		width: 100%;
		height: 100vh;
		align-self: flex-start;
		position: sticky;
		position: -webkit-sticky;
		top: 0px;
		display: flex;
		justify-content: space-around;
		overflow: hidden;
	}

	.ch7_text {
		font-family: 'Cambria', serif;
		font-style: italic;
		font-weight: bold;
		font-size: 1.25vw;
		line-height: 2vw;
		color: black;
		background-color: white;
		border: 0.2vw black solid;
		width: 25vw;
		height: 100vh;
		padding: 2vw;
		/* position: sticky; */
	/* 	flex-basis: 25%;
		align-self: flex-start;
		position: sticky;
		visibility: hidden; */
		/* position: fixed; */
	}

	.ch7_text .unbolded {
		font-weight: normal;
		font-style: italic;
	}

	.ch7_text .korean{
		font-family: 'Gulim', 'Cambria', serif;
		font-weight: bold;
		font-style: normal;
	}

	.ch7_text .citation {
		font-family: 'Calibri', sans-serif;
		font-weight: 300;
		text-align: right;
		font-style: normal;
	}

	.ch7_text.left {
		text-align: left;
		/* transform: translateY(100vh); */
		/* bottom: 101%; */
		/* margin-top: 105vh; */
		margin-top: 125vh;
		/* left: 12.5%; */
	}

	.ch7_text.right {
		text-align: right;
		/* transform: translateY(175%); */
		/* top: 101%; */
		/* margin-top: 50vh; */
		margin-top: -125vh;
		/* right: 12.5%; */
		/* transform: translateY(-150vh); */
		display: flex;
		align-items: flex-end;
		font-size: 1.25vw;
		line-height: 1.75vw;
		/* position: fixed; */
	}

	.ch8_flex {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		height: 250vh;
		width: 100%;
		margin-top: -100vh;
		padding-top: 50vh;

	}

	.ch8_content {
		font-family: 'Adobe Caslon Pro', 'Cambria', serif;
		font-size: 1.3vw;
		color: white;
		overflow: visible;
		height: 85vh;
		/* margin-left: 9%;
		margin-right: 9%; */
		/* font-weight: 600; */
		width: 35vw;
		flex-basis: 35%;
		letter-spacing: 0.08vw;
	}

	.ch8_content.first {
		background-image: url(../images/terseness-files/books50c.jpg);
		background-position: 20vw 20vw;
		background-size: 14vw auto;
		background-repeat: no-repeat;
	}

	.ch8_content.first .title {
		font-size: 6vw;
		line-height: 7vw;
		font-family: 'Bell MT', 'Playfair Display', serif;
		font-weight: bold;
		top: 0;
		left: 0;
		text-align: left;
		width: 100%;
		color: rgb(233,201,197);
		text-shadow: 0.3vw 0.3vw rgb(32,86,154);
		z-index: 3;
		mix-blend-mode: normal;
	}

	.ch8_content.first .number {
		font-family: 'Josefin Sans', 'Calibri', sans-serif;
		font-size: 30vw;
		font-weight: bold;
		mix-blend-mode: screen;
		color: rgb(37,64,143);
		/* position: fixed; */
		top: 0;
		left: 0;
		width: 100%;
		height: 50%;
		margin-top: -24vw;
		margin-left: 8vw;
		z-index: 1;

	}

	.ch8_content.second {
		background: url(../images/terseness-files/taraval_window.png);
		background-size: 26vw auto;
		background-position: 50% 6.5vw;
		background-repeat: no-repeat;
	}

	.ch8_content.third {
		background: url(../images/terseness-files/fort_mason.jpg);
		background-size: auto 91%;
		background-position: top left;
		background-repeat: no-repeat;
		padding-left: 0;
	}

	.ch8_content.fourth {
		background: url(../images/terseness-files/conservatory_of_flowers.png), transparent;
		background-size: 90% auto;
		background-position: bottom right;
		background-repeat: no-repeat;
		position: relative;
	}

	.ch8_content.fourth::before {
		content: " ";
		background: url(../images/terseness-files/bodie.jpg);
		background-size: 55% auto;
		background-position: top left;
		background-repeat: no-repeat;
		position: absolute;
		left: -25%;
		top: -5%;
		width: 100%;
		height: 100%;
	}

}
